@using LogansFerry.TradingSuite.WebApp
@{
    Layout = MVC.Shared.Views._Site;
}
@section head
{
    @RenderSection("head", false)
}
@section GroupContent
{
    <h2>Stock Data</h2>
    <div id="group_container">
        <div id="group_menu">
            <h3>Menu</h3>
            <p>@Html.ActionLink("Update Prices from Web", MVC.StockData.UpdatePrices.ActionNames.Index, MVC.StockData.UpdatePrices.Name)</p>
            <p>@Html.ActionLink("Manage Stock List", MVC.StockData.ManageStocks.ActionNames.Index, MVC.StockData.ManageStocks.Name)</p>
            <p>@Html.ActionLink("Excluded Stocks", string.Empty, string.Empty)</p>
        </div>
        <div id="page_content">
            @this.RenderSection("PageContent")
        </div>
    </div>
}
